server:
  port: 7672
signing:
  key_file: "/signing.key"
federation_data:
  entity_id: "https://ta.example.lh"
  authority_hints:
    - "https://trust-anchor.spid-cie.fedservice.lh/"
  federation_entity_metadata:
    display_name: "Example Federation TA"
    organization_name: "Example Organization"
  metadata_policy_file: "/metadata-policy.json"
storage:
  backend: json
  data_dir: "/data"

api:
  admin:
    enabled: true
    users_enabled: true
    # Port for admin API. 0 means serve on main server.
    port: 0
    # Admin users password hashing parameters (Argon2id). Defaults shown below.
    password_hashing:
      time: 1
      memory_kib: 65536
      parallelism: 4
      key_len: 64
      salt_len: 32

endpoints:
  fetch:
    path: "/fetch"
  list:
    path: "/list"
  resolve:
    path: "/resolve"
  entity_collection:
    path: "/entity-collection"
    allowed_trust_anchors:
      - "https://ta.example.org"
    interval: 8h
  trust_mark:
    path: "/trustmark"
    trust_mark_specs:
      - trust_mark_type: "https://tm.example.org"
        lifetime: 3600
        ref: "https://tm.example.org/ref"
        logo_uri: "https://tm.example.org/logo"
        extra_claim: "example"
        delegation_jwt:
      - trust_mark_type: "https://edugain.org"
        lifetime: 86400
  trust_mark_status:
    path: "/trustmark/status"
  trust_mark_list:
    path: "/trustmark/list"
  enroll:
    path: "/enroll"
    checker:
      type: multiple_or
      config:
        - type: trust_mark
          config:
            trust_mark_type: https://tm.example.org
            trust_anchors:
              - entity_id: https://ta.example.org
        - type: trust_mark
          config:
            trust_mark_type: https://tm.example.com
            trust_anchors:
              - entity_id: https://example.com
              - entity_id: https://foo.bar.com
